<center><h1>All User</h1></center>

 <%  @user.each do |u| %>
<div class="container">
    <div class="container-image">
        <div class="img_div" style="width:150px"><%= image_tag u.photo %></div>
        <%# <img style="width:150px" src="https://ibedc.com/filesupload/imagebuild/625350ecda1e22.55685312.jpg" /> %>
    </div>

    
    
        <div class="container-text">
            <%= link_to user_path(u) do %>
                <div><h2><%= u.name %></h2>
                </div>
                <div class="pull-right">Number of post x </div>
            <% end%>
        </div>
   
 
</div>
<% end %>
<hr/>




<p>
<%# <%= link_to 'Create User', new_user_path %> 
</p>
