.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  padding: 10px;
}

.container-image {
  border-width: 2px;
  border: #000;
}

.container-text {
  border: 1px solid black;
  border-width: 2px;
  width: 100%;
  padding: 10px;
  height: 110px;
}

.pull-right {
  float: right;
}

.bio {
  margin-top: 20px;
}

.containerbody {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  padding: 10px;
}

.rlistings {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  padding-top: 40px;
}

.comentlikes {
  text-align: right;
  font-size: 15px;
}

.content {
  margin-top: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

.card-img-top{
  width: 100px
}